<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predict" method="post">
        <input type="number" name="gender" placeholder="Enter your gender">
        <input type="number" name="age" placeholder="Enter your age">
        <input type="number" name="hypertension" placeholder="Enter your hypertension">
        <input type="number" name="heart_disease" placeholder="Enter your heart_disease">
        <input type="number" name="smoking_history" placeholder="Enter your smoking_history">
        <input type="number" name="bmi" placeholder="Enter your bmi">
        <input type="number" name="HbA1c_level" placeholder="Enter your HbA1c_level">
        <input type="number" name="blood_glucose_level" placeholder="Enter your blood_glucose_level">
        <button type="submit">Submit</button>
    </form>
</body>
</html>